.contact {
  padding-bottom: 2rem;
}

.contact .container {
  max-width: 1200px;
}

.contact h2 {
  display: inline-block;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--black);
}

.contact .container span {
  display: block;
}

.twitter-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}