.home .placeholder {
  width: 400px;
  height: 300px;
  background-color: var(--light-gray);
}

.content .text, .content .picture {
  height: inherit;
  min-height: inherit;
}

.text .action-button, .text h1 {
  align-self: flex-start;
}

.text h1 {
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--black);
}