nav {
  height: 84px;
  background-color: var(--cream);
}

nav .container-fluid, nav .row {
  height: 100%;
}

nav .col-8 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Original size: 1080 x 1080 */
nav img {
  width: 72px;
  height: 72px;
}

nav a {
  min-width: 75px;
  margin-left: 3rem;
  color: var(--black);
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--black);
  text-align: center;
}

nav a:hover {
  color: var(--crimson);
}

nav .router-link-active {
  color: var(--crimson);
  border-bottom: 1px solid var(--crimson);
}