.publications h2 {
  display: inline-block;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--black);
}

.publications .card h5 {
  display: inline-block;
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--black);
}

.dates-ids {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dates-ids span {
  margin-right: 1rem;
}

.card-link {
  padding-bottom: .5rem;
  display: inline-flex;
  border-bottom: 1px solid var(--blue);
  width: 150px;
}