.research .content {
  background-color: var(--cream);
}

.research .header {
  height: 60px;
}

.research .header h1 {
  align-self: flex-end;
}

.research .margin-top {
  margin-top: 2rem;
}

.research .content {
  padding: 1rem;
  box-sizing: border-box;
}

.research .content p {
  margin-top: 1rem;
}