.research h2 {
  display: inline-block;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--black);
}

.research .content {
  background-color: var(--light-gray);
  min-height: 500px;
  /* box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%); */
}

.research .content {
  padding: 1rem;
  box-sizing: border-box;
}

.research .content p {
  margin-top: 1rem;
}