#app {
  height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  width: 100%;
  min-height: 90%;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

p {
  line-height: 2rem;
}