.research .content {
  background-color: var(--cream);
}

.research .header {
  height: 60px;
}

.research .content {
  padding: 1rem;
  box-sizing: border-box;
}

.research .content p {
  margin-top: 1rem;
}