/* Utility classes */

.people .content, .publications .content {
  min-height: 650px;
  width: 1200px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  width: 1200px;
  display: flex;
  align-items: center;
}

.header h2 {
  justify-self: flex-start;
  border-bottom: 1px solid var(--black);
  padding-bottom: 1rem;
  display: inline-block;
}

/* Center vertically and horizontally */
.hv-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Center items vertically */
.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.l-padding {
  padding-left: 5rem;
  box-sizing: border-box;
}

.lr-padding {
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

.r-padding {
  padding-right: 5rem;
  box-sizing: border-box;
}

.half-padding {
  padding: .5rem;
  box-sizing: border-box;
}

.padding {
  padding: 1rem;
  box-sizing: border-box;
}

.extra-margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.l-margin {
  margin-left: 1rem;
}

.r-margin {
  margin-right: 1rem;
}

.text-center {
  text-align: center;
}

.loader {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 400px;
}

.loader div {
  margin-left: 1rem;
}